* {
  margin: 0;
  box-sizing: border-box;
}
:root{
  --sec: #5b6b7a;
}

body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #a9a9a9;
  background-image: linear-gradient(to top, var(--sec), #284661);
}

.app-container {
  width: 85%;
  margin: auto;
  background-color: var(--sec);
}

.top-box {
  display: flex;
  background-color: var(--sec);
  background-image: linear-gradient(to left, var(--sec), #284661);
  padding: 2em 1em;
  border-bottom: 1px solid;
  border-color: #fff;
}

.top-box-text {
  padding: 2em 0 0 2em;
  color: #7d9bb8;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2a4965;
}

.form-box {
  padding: 2em;
  background-image: linear-gradient(to right, var(--sec), #284661);
}

.main-heading {
  margin: auto;
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.sub-heading {
  font-size: 2rem;
} 

.sample-img-cont {
  margin: auto;
  display: flex;
  justify-content: center;
}

.sample-img-cont img{
  height: 600px;
  background-color: antiquewhite;}

/* FORM CONTENT */

.form-sub-group {
  display: flex;
}
.form-sub-group label{
  flex: 1;
}
.form-sub-group input{
  flex: 3;
}
.form-sub-group textarea{
  flex: 3;
}

.form-sub-group.text-group {
  flex-direction: column;
}

.form-sub-group.text-group textarea{
  height: 12rem;
  resize: none;
}

/* WORK MODULE */

.work-module {
  margin: 2em 0 2em 0;
}


/* RESUME BOX */

#resume{
  background-color: #fff;
  background-image: linear-gradient(to left, var(--sec), #284661);
  width: 100%;
  padding-bottom: 5em;
}

.resume-box {
  display: flex;
  margin: auto;
  height: 297mm;
  width: 210mm;
  background-color: antiquewhite;
  border: 2px solid;
  border-color: black;
}

p{
  font-size: 0.85rem;
  margin-top: 0.5em;
}

.left {
  background-color: #fff;
  height: 100%;
  flex: 3;
  padding: 2em;
}

.right {
  background-color: var(--sec);
  height: 100%;
  flex: 2;
  color: #fff;
}

.res-name{
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
  color: var(--sec);
  font-size: 2.5rem;
  border-bottom: 1px solid;
  border-color: var(--sec);
}

.heading-grey {
  color: var(--sec);
  border-bottom: 1px solid;
  border-color: var(--sec);
  margin-bottom: 1.5em;
  font-size: 1.4rem;
}

.heading-white {
  color: #fff;
  border-bottom: 1px solid;
  border-color: #fff;
  padding-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 1.4rem;
}

.res-prof-summ p{
  margin-bottom: 2em;
}
.res-job{
  margin-bottom: 2em;
}
.res-job-post{
  font-weight: 700;
  font-size: 1.125rem;
}
.res-job-info{
  font-weight: 400;
  font-size: 1.125rem;
}

.res-add{
  padding-left: 1em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 0.9rem;
}

.res-add div{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1em;
}

.res-skills ul{  
  font-size: 0.9rem;
}

.res-edu{
  padding-bottom: 1em;
}
.res-edu div {
  padding-left: 1em;  
  font-size: 0.9rem;
}
.res-edu-box {
  margin-bottom: 0.7em;
}
.res-degree{
  font-weight: 700;  
  font-size: 0.9rem;
}
.res-inst{
  font-weight: 200;
  font-size: 0.9rem;
}